/* GLOBAL STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    width: 80%;
    max-width: 800px;
}

/* ----- QUOTE CONTAINER ----- */

.quote-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
    background-color: rgba(248, 234, 216, 0.55);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* QUOTE BOX */

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 75%;
    text-align: center;
}

.speak-btn {
    position: absolute !important;
    right: 1em;
    top: 0.75em;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.quote {
    font-size: 1.5em;
    line-height: 1.6;
}

.author {
    font-size: 1.2em;
}

/* SHARE BUTTONS  */

.share-buttons {
    display: flex;
    gap: 0.5em;
    font-size: 1.5em;
    list-style: none;
}

/* Style for each share button */
.share-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
}

/* FontAwesome icons */
.share-buttons a i {
    font-size: 1.25em;
}

/* Notion icon */
.notion-icon {
    width: 60%;
    height: 60%;
}

/* ----- TOOLTIP ----- */

/* Tooltip container */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

/* Tooltip text */
[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    font-size: 0.7em;
}

/* Show the tooltip text on hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip].show-tooltip::before,
[data-tooltip].show-tooltip::after {
    opacity: 1;
}

/* BACKGROUND IMAGE */

.background-author {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
